.*

*.tsbuildinfo

node_modules/
target/
transpiled/
types/
bundled/
out/
coverage/
obj/
bin/
TestResults/
BenchmarkDotNet.Artifacts/

!.gitignore
!.gitattributes
!.prettierignore
!.editorconfig
!.npmrc
!.eleventy.js

!.vscode/
!.github/
